<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#navCont {
    display: flex;
    margin: auto;
    width: 1170px;
    height: 87.5px;
}

#logo {
    width: 197px;
    height: 49px;
    margin-top: 18px;
    cursor: pointer;
}

#search {
    width: 360px;
    border: none;
    margin-left: 10px;
    background-color: #f7f7f7;
}

.glass {
    margin-left: 10px;
    width: 20px;
}

#searchCont {
    display: flex;
    border: 1px solid gray;
    height: 37px;
    margin-top: 24px;
    border-radius: 3px;
    margin-left: 2.5%;
    background-color: #f7f7f7;
}

#headCart {
    display: flex;
    padding-left: 5px;
    width: auto;
    align-items: center;
    font-size: 14px;
}

#headCart>div {
    margin-left: 15px;
    cursor: pointer;
}

.ima {
    margin: 5px;
    margin-bottom: 5px;
}

#cart {
    width: 28px;
}

#belowNav {
    margin: auto;
    display: flex;
    width: 1170px;
    height: 51.3px;
}

#catag {
    align-items: center;
    display: flex;
    font-size: 14px;
    width: 798.3px;
    justify-content: space-between;
    padding-left: 15px;
}

#catag>div {
    cursor: pointer;
}

#catag>div:hover {
    color: #007aff;
}

#cataglast {
    margin-right: 60px;
}

#navCont>div>div:hover {
    color: #007aff;
}

#store {
    display: flex;
    margin-left: auto;
    align-items: center;
    width: 224px;
    font-weight: 600;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 32px;
}

#store>div {
    padding: 5px;
    background: #e3e3e3;
    border-radius: 4px;
    cursor: pointer;
}

#myDIV {
    display: none;
}

#myDIV {
    background: #fff;
    border: 1px solid transparent;
    font-size: 12px;
    text-align: left;
    width: 160px;
    margin-top: 10px;
}

#myDIV p {
    padding: 10px;
    font-weight: lighter;
}

#myDIV>p:hover {
    color: #007aff;
}

#myDIV h1 {
    padding: 10px;
    font-weight: lighter;
}

.ic img {
    width: 18px;
}

#accounts {
    position: relative;
}

#dropTable {
    display: none;
}

#dropTable {
    right: 0;
    width: 323px;
    color: black;
    text-align: center;
    background-color: #fff;
}

#dropTable #sI, #lO {
    margin: auto;
    width: 296px;
    height: 50px;
    margin-top: 9px;
    margin-bottom: 9px;
    line-height: 55px;
    background: cadetblue;
    border-radius: 4px;
    color: white;
}

#dropTable #lO {
    background: none;
    color: black;
    border: 1px solid black;
}

#insideDrop {
    width: 296px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 13px;
    grid-gap: 0;
}

#f1, #f2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    line-height: 32px;
}

#f1>div:nth-child(1) {
    color: #009393;
}

#f2>div:nth-child(1) {
    color: #009393;
}

#f1>div:hover {
    color: #007aff;
}

#f2>div:hover {
    color: #007aff;
}

#catogBestSeller {
    position: absolute;
    width: 350px;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
}

#catogBestSeller {
    display: none;
}

#sellerCat1 {
    background: #f6f6f7;
}

#sellerCat1>div {
    line-height: 50px;
    padding-left: 20px;
}

#forSport, #forhealth {
    background-color: lightcyan;
    padding: 20px;
    line-height: 30px;
}

#sNutri:hover {
    background-color: white;
}

#hNutri:hover {
    background-color: white;
}

#gend-DroDwn {
    display: none;
}

#gend-DroDwn {
    width: 265px;
    height: 176px;
    position: absolute;
    background-color: #fff;
}

#gen_content {
    width: 219px;
    height: 145px;
    margin: auto;
    margin-top: 15px;
}

.gender_text {
    color: #1d1d1d;
    font-size: 18px;
    margin-bottom: 15px;
}

#cat_menWomen {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
}

#cat_menWomen>div {
    width: 100px;
    height: 107px;
    border: 0.5px solid gray;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
}

#div_cat_Men:hover {
    border: 1px solid blue;
    color: blueviolet;
}

#div_cat_Women:hover {
    border: 1px solid blue;
    color: blueviolet;
}

#hk {
    background-color: #d8faf9 !important;
}

#hk:hover {
    background-color: rgb(60, 187, 238) !important;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247,247,247);
    width: 100%;
}
a{
    cursor: pointer;
    }
    button{
        cursor: pointer;
    }
#personalInfo {
    max-width: 1250px;
    height: 140px;
    box-shadow: 0 2px 10px rgb(66 71 75 / 10%);
    border: .5px solid #dde5ed;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}

#persDetails {
    height: 110px;
    max-width: 1218px;
    margin: auto;
    margin-top: 23px;
    display: grid;
    grid-template-rows: 50% 50%;
}

#tit {
    font-weight: 700;
}

.profs {
    height: 100%;
    line-height: 24px;
    width: auto;
    text-align: center;
    margin-left: auto;
}

.had {
    margin-top: 0;
    color: gray;
}

#goalAdd {
    color: #3dd598;
    font-size: 18px;
    font-weight: 700;
}

.na {
    color: #c9c9c9;
    font-weight: 700;
    font-size: 18px;
}

#createProfile {
    width: 150px;
    height: 41px;
    background-color: #00c2c1;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 42px;
    margin-left: auto;
    cursor: pointer;
}

.verLine {
    height: 30px;
    width: 0.5px;
    background-color: gainsboro;
    margin: auto;
}

#persTop {
    display: flex;
    align-items: center;
}

#persBottom {
    margin-top: 23px;
}
#persBottom >span{
    padding-right: 30px;
}
#prosCont{
    max-width: 1170px;
    min-height: 528.05px;
    box-shadow: 0 2px 10px rgb(66 71 75 / 10%);
    border: .5px solid #dde5ed;
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
}
.personalize-widget{
    display: flex;
    height: 60px;
    align-items: center;
    padding-left:40px;
    justify-content: space-between;
    background-color: white;
}
.saletxt{
    font-size: 23px;
    font-weight: 500;
    color: #212121;
}
.viewAll{
    padding-right: 40px;
    color: #00bfbf;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.widgit-content-wrap{
   max-width: 1168px;
    min-height: 466.05px;
    margin: auto;
}
#home-widgit-carousel,#trending{
    max-width: 1118px;
    min-height: 436.05px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    overflow-x: scroll;
    background-color: white;
}
 #home-widgit-carousel>div{
   width: 272px;
   height: 433px;
   border: .5px solid #dde5ed;
   margin-right: 10px;
   border-radius: 8px;
   background-color: rgb(255,255,255);
}
#trending>div{
   width: 272px;
   height: 433px;
   border: .5px solid #dde5ed;
   margin-right: 10px;
   border-radius: 8px;
   background-color: rgb(255,255,255);
}
#home-widgit-carousel>div:hover{
   box-shadow: 5px 2px 10px rgb(66 71 75 / 10%);
}
#trending>div:hover{
    box-shadow: 5px 2px 10px rgb(66 71 75 / 10%);
}
.contTip{
    width: 240px;
    height: 28.3px;
    margin: auto;
    display: flex;
    text-align: center;
}
#contMid{
    width: 240px;
    min-height: 160px;
    margin: auto;
    margin-top: 5px;
    
}
.logImg{
    width: fit-content;
   margin-left: auto;
   padding-right: 10px;
}
.middle{
    width: fit-content;
    margin: auto;
}
.rating{
    display: flex;
    width: auto;
    height: 14px;
    margin-top: 10px;
    margin-left: 10px;
    /*text-align: left;
   background-image: url(https://img3.hkrtcdn.com/react/static/media/common/misc/visible-star.svg);
   background-repeat: repeat-x;
    */
}
 .ratingIn{
    display: flex;
    height: 12px;
    width: fit-content;
    margin: auto;
    font-weight: 700;
 /*  background-image: url(https://img4.hkrtcdn.com/react/static/media/common/misc/blue-rate.svg);
   background-repeat: repeat-x;*/
} 
.addCart {
   padding: 8px;
   width: fit-content;
   cursor: pointer;
   color: #004b5d;
   border: none;
   background-color: rgb(225,237,244);
   margin-left: auto;
   margin-right: 10px;
   border-radius: 5px;
}

#priceCont{
   display: flex;
   align-items: center;
   margin-top: 10px;
   padding-left: 10px;
}
.price{
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    color: #25292b;
}

#marg{
    margin-top: 20px;
    text-align: center;
}
.hk-premium-price{
    width: 270px;
    height: 42px;
    margin: auto;
    margin-top: 10px;
    background-color:  rgba(187,234,232,.31);
    line-height: 42px;
}
.hk-premium-price >div{
        width: fit-content;    
         margin-left: 30px;
         font-weight: 700;
}
.shop-by-category{
    width: 100%;
    background-color: white;
    padding-bottom: 100px;
}
.top-cat-SBC{
    width: 1170px;
    height: 319px;
    margin: auto;
    margin-top: 50px;
}
.heading-SBC{
    font-size: 20px;
    font-weight: 600;
   line-height: 27px;
   color: #001545;
   text-align: center;
   height: 27px;
   align-items: center;
   
   padding-top: 40px;
}
.section-items-SBC{
     display: grid;
     grid-column-gap: 30px;
     grid-row-gap: 20px;
     grid-template-columns: 1fr 1fr 1fr;
     height: 266px;
     margin-top: 20px;
 }
 .section-items-SBC >div{
     width: 368px;
     height: 121px;
     border-radius: 5px;
     display: flex;
     align-items: center;
     cursor: pointer;
 }
 #essent{
     margin-top: 30px;
 }
 .backHeadings{
     width: fit-content;
     margin: auto;
     color: white;
     font-weight: 500;
     font-size: 18px;
 }
 .horLine{
     width: 30px;
     height: 2px;
     background-color: orange;
     margin: auto;
     margin-top: 5px;
 }
 .slider-Box{
position: relative;
overflow:hidden;
width: 100% !important;
}
#slider{
width: 100%;
display: inline-flex;
transition: 0.7s;
}
#slider img{
min-width: 100%;
}
.indicators{
position: absolute;
left: 50%;
bottom:20px;
transform: translateX(-50%);
}
.indicators span{
display: inline-block;
width: 12px;
height: 12px;
border-radius: 50%;
background: rgba(255,255,255,0.5);
cursor: pointer;
margin: 2px;

}
.active{
background: skyblue !important;
}
#header-Navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}
    </style>
</head>
<body>
    <div id='header-Navbar'>
        <section>
            <div id='navCont'>
                <div id='logo'><svg version="1.0" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink"
                    a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 179.3 43.7"
                    enable-background="new 0 0 179.3 43.7" space="preserve">
                    <polygon fill="#00BFBF" points="10.7,13.3 10.7,20.4 3,20.4 3,13.3 0,13.3 0,30.4 3,30.4 3,22.8 10.7,22.8 10.7,30.4 13.6,30.4
                    13.6,13.3 "></polygon>
                    <polygon fill="#00BFBF" points="30.7,22.8 22.5,22.8 22.5,28 30.7,28 30.7,30.4 19.5,30.4 19.5,13.3 30.7,13.3 30.7,15.7 22.5,15.7
                    22.5,20.4 30.7,20.4 "></polygon>
                    <path fill="#00BFBF"
                        d="M45.6,26.4H39l-1.4,4h-3.1L41,13.3h2.7l6.5,17.2H47L45.6,26.4z M39.8,24h5l-2.5-7.1L39.8,24z">
                    </path>
                    <polygon fill="#00BFBF" points="56.2,28 64,28 64,30.4 53.2,30.4 53.2,13.3 56.2,13.3 "></polygon>
                    <polygon fill="#00BFBF"
                        points="79.2,15.7 73.8,15.7 73.8,30.4 70.9,30.4 70.9,15.7 65.6,15.7 65.6,13.3 79.2,13.3 ">
                    </polygon>
                    <path fill="#00BFBF" d="M98.1,20.4v-7.1h3v17.2h-3v-7.6h-7.7v7.6h-3V13.3h3v7.1H98.1z M110.6,19.3l5-6h3.6l-6.4,7.6l6.7,9.6H116
                    l-5.2-7.4l-1.9,2.1v5.3h-3V13.3h3v8L110.6,19.3z M82.6,42.7h41.7V1H82.6V42.7z"></path>
                    <path fill="#00BFBF"
                        d="M138.3,26.4h-6.6l-1.4,4h-3.1l6.5-17.2h2.7l6.5,17.2h-3.1L138.3,26.4z M132.5,24h5l-2.5-7.1L132.5,24z">
                    </path>
                    <g>
                        <path fill="#00BFBF" d="M153.1,23.8h-3.3v6.6h-3V13.3h6c1,0,1.9,0.1,2.6,0.3c0.8,0.2,1.4,0.6,2,1c0.5,0.4,0.9,1,1.2,1.6
                    c0.3,0.6,0.4,1.4,0.4,2.2c0,1.1-0.3,2.1-0.8,2.9c-0.6,0.8-1.3,1.4-2.3,1.8l3.9,7.2v0.2h-3.2L153.1,23.8z M149.8,21.4h3.1
                    c0.5,0,1-0.1,1.4-0.2c0.4-0.1,0.7-0.3,1-0.6c0.3-0.3,0.5-0.5,0.6-0.9c0.1-0.3,0.2-0.7,0.2-1.1c0-0.4-0.1-0.8-0.2-1.2
                    c-0.1-0.4-0.3-0.7-0.6-0.9c-0.3-0.3-0.6-0.5-1-0.6c-0.4-0.1-0.9-0.2-1.5-0.2h-3.1V21.4z"></path>
                        <polygon fill="#00BFBF"
                            points="176,15.7 170.7,15.7 170.7,30.4 167.7,30.4 167.7,15.7 162.4,15.7 162.4,13.3 176,13.3 ">
                        </polygon>
                    </g>
                </svg></div>
                <div id="searchCont">
                    <img class="glass" src="https://static1.hkrtcdn.com/hknext/static/media/common/header/search-icon-grey-2.svg">
                    <input id='search' type="text" placeholder="Search for products, brands or Health Goals">
                </div>
                <div id='headCart'>
                  <div> Loyal Rewards <span class="ima">&nbsp;|</span></div>
                  <div>Customer Support
                    <span class="ima"><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/arrow-down.svg" alt="">&nbsp;|</span>
                 </div>
                  <div id='accounts'>My Account & Orders
                  <span class="ima"><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/arrow-down.svg" alt="">&nbsp;|</span>
                   <div id='dropTable'>
                       <div id='sI'>LogIn</div>
                       <div id='lO'>New user? / Sign up</div>
                       <div id='insideDrop'>
                        <div id='f1'>
                            <div>My Account</div>
                            <div><span><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/my-orders.svg" alt="" srcset=""></span>&nbsp; Orders</div>
                            <div><span><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/my-wishlist.svg" alt="" srcset=""></span>&nbsp; Witch List</div>
                            <div><span><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/loyalty-rewards.svg" alt="" srcset=""></span>&nbsp; Loyal Rewards</div>
                        </div>
                        <div id='f2'>
                            <div>Health Profile</div>
                            <div>&nbsp; Diet Plan</div>
                            <div>&nbsp; My Consultants</div>
                            <div>&nbsp; Recommended Products</div>
                        </div>
                       </div>
                   </div>
                </div>
                  <div id='cart'><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/cart.svg" alt="cart"></div>
                </div>
            </div>
        </section>
        <hr>
        <section>
             <div id='belowNav'>
                <div id='catag'>
                <div id='catagfirst'>Category</div>
                <div>Brand</div>
                <div id='genderSec'>Gender
                    <div id='gend-DroDwn'>
                         <div id='gen_content'>
                             <div class="gender_text">Shop By Gender</div>
                             <div id='cat_menWomen'>
                                 <div id='div_cat_Men'><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/man-2.svg" alt="" srcset="">
                                     <div>MEN</div>
                                </div>
                                 <div id='div_cat_Women'><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/woman-2.svg" alt="" srcset="">
                                   <div>WOMEN</div>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
                <div>Goal</div>
                <div id='bestSells'>Bestsellers
                <div id='catogBestSeller'>
                    <div id='sellerCat1'>
                        <div id='sNutri'>Sport Nutrition</div>
                        <div id='hNutri'>Health Nutrition</div>
                    </div>
                    <div id=sellerCat2>
                        <div id='forSport'>
                            <div>Protein Powder</div>
                            <div>Masss Gainer</div>
                            <div>Whey Protein</div>
                            <div>Health Booster</div>
                        </div>
                        <div id='forhealth'>
                            <div>Protein A</div>
                            <div>Mas B</div>
                            <div>Protein C</div>
                            <div>Health Booster G</div>
                        </div>
                    </div>
                </div>
                </div>
                <div>Deals</div>
                <div>Gift Card</div>
                <div id='cataglast'>Blog,Video & More</div>
                </div>
                <div id='store'>
                    <div id='hk'><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/hk-consult.svg" alt="" srcset="">
                        <span id='cons'>&nbsp;HK Consult</span>
                        <div id='myDIV'>
                            <h1>Consult Services</h1>
                            <p><span class="ic"><img src="https://static1.hkrtcdn.com/hknext/static/media/common/misc/consult-health-profile-icon.svg" alt=""></span>&nbsp;&nbsp;Health Profile</p>
                            <p><span class="ic"><img src="https://static1.hkrtcdn.com/hknext/static/media/common/misc/book-consultation-icon.svg" alt=""></span>&nbsp;&nbsp;Book a Consultation</p>
                            <p><span class="ic"><img src="https://static1.hkrtcdn.com/hknext/static/media/common/misc/consult-health-profile-icon.svg" alt=""></span>&nbsp;&nbsp;Recommend a Product</p>
                            <p><span class="ic"><img src="https://static1.hkrtcdn.com/hknext/static/media/common/misc/what-we-offer-icon.svg" alt=""></span>&nbsp;&nbsp;Service Programs</p>
                            <p><span class="ic"><img src="https://static1.hkrtcdn.com/hknext/static/media/common/misc/consult-health-profile-icon.svg" alt=""></span>&nbsp;&nbsp;Workout at Home</p>
                         </div>
                    </div>
                    <div id='st_store'><img src="https://static1.hkrtcdn.com/hknext/static/media/common/header/location-pin.svg" alt="" srcset="">&nbsp;Find a Store
                    </div>
                </div>
             </div>
        </section>
        <hr>
    </div>
    <div class="slider-Box">
        <div id="slider">
             <img src="https://img7.hkrtcdn.com/17017/bnr_1701606_o.jpg" alt="">
             <img src="https://img8.hkrtcdn.com/13872/bnr_1387157_o.jpg" alt="">
             <img src="https://img4.hkrtcdn.com/13872/bnr_1387173_o.jpg" alt="">
             <img src="https://img4.hkrtcdn.com/12975/bnr_1297463_o.jpg" alt="">
        </div>
        <div class="indicators">
            <span id='btn1'></span>
            <span id='btn2'></span>
            <span id='btn3'></span>
            <span id='btn4'></span>
        </div>
    </div>
    <section>
        <div id='personalInfo'>
            <div id='persDetails'>
                <div id='persTop'>
                    <div>
                        <img src="https://img2.hkrtcdn.com/react/static/media/consult/weight-scale.svg" alt=""
                            srcset="">
                    </div>
                    <div id='tit'>&nbsp;&nbsp; Hk Consult</div>
                    <div class="profs">
                        <div class="had">Goal</div>
                        <div id='goalAdd'>Add Goal</div>
                    </div>
                    <div class='verLine'></div>
                    <div class="profs">
                        <div class="had">Weight</div>
                        <div class='na'>Not available</div>
                    </div>
                    <div class='verLine'></div>
                    <div class="profs">
                        <div class="had">Hk Score</div>
                        <div class='na'>Not available</div>
                    </div>
                    <div class='verLine'></div>
                    <div class="profs">
                        <div class="had">Body Fat %</div>
                        <div class='na'>Not available</div>
                    </div>
                    <div class='verLine'></div>
                    <div id='createProfile'>Create Profile</div>
                </div>
                <div id='persBottom'>
                    <span >Create your HealthKart consult profile &amp; 
                        Get</span><span>Free Smart Diet Plan &nbsp;</span><span>Workout
                        Plan</span><span >Product Suggestions</span><span>Health Tips</span>
              </div>
            </div>
        </div>
    </section>
    <div id='prosCont'>
       <div class="personalize-widget">
           <div><img src="https://img10.hkrtcdn.com/react/static/media/common/misc/flash-sale-black.svg" alt="" srcset="">
            <span class='saletxt'>&nbsp;&nbsp;Flash Sale</span>
        </div>
           <div class="viewAll">View All</div>
       </div>
       <div class='widgit-content-wrap'>
           <div id="home-widgit-carousel">
            <% flashsale_protiens.forEach(function (product) {%>
                <div style="cursor: pointer;"><div class="contTip"><img src=<%= product.flash_sale_img%>></div><div class="contMid"><div class="logImg"><img src="https://img10.hkrtcdn.com/react/static/media/common/variant/wishlist/hover-heart.svg"></div><div class="middle"><img src=<%= product.imgProduct%>></div></div><div><div id="marg" style="font-size: 14px; color: rgb(33, 33, 33);">MuscleBlaze Raw Whey Isolate,  2.2 lb  Unflavoured</div><div class="rating"><div class="innerRating">Rating: 4.7</div></div><div id="priceCont"><div class="price">₹1028</div><div class="addCart" style="background-color: rgb(225, 237, 244);"><img src="https://img2.hkrtcdn.com/react/static/media/common/new_cart.svg"><span onclick="addtoCart('<%=JSON.stringify(product)%>')" id='<%=product._id%>'>ADD</span></div></div><div class="hk-premium-price"><div>Premium Price: 1600</div></div></div></div>
             <% }) %>
           </div>            
       </div>
       <div class="personalize-widget">
        <div><img src="https://img10.hkrtcdn.com/react/static/media/common/misc/flash-sale-black.svg" alt="" srcset="">
         <span class='saletxt'>&nbsp;&nbsp;Trending</span>
     </div>
        <div class="viewAll">View All</div>
    </div>
    <div class='widgit-content-wrap'>
        <div id="trending">
            <% trendingNow_protiens.forEach((product)=> {%>
                <div style="cursor: pointer;"><div class="contTip"><img src="https://img10.hkrtcdn.com/react/static/media/common/variant/flash-icon.svg"></div><div class="contMid"><div class="logImg"><img src="https://img10.hkrtcdn.com/react/static/media/common/variant/wishlist/hover-heart.svg"></div><div class="middle"><img src=<%= product.imgProduct%>>></div></div><div><div id="marg" style="font-size: 14px; color: rgb(33, 33, 33);">MuscleBlaze Whey Gold Protein,  4.4 lb  Rich Milk Chocolate </div><div class="rating"><div class="innerRating">Rating: 4.5</div></div><div id="priceCont"><div class="price">₹4521</div><div class="addCart"><img src="https://img2.hkrtcdn.com/react/static/media/common/new_cart.svg"><span onclick="addtoCart('<%=JSON.stringify(product)%>')" id='<%=product._id%>'>ADD</span></div></div><div class="hk-premium-price"><div>Premium Price: 1600</div></div></div></div>
             <% }) %>
        </div>            
    </div>
    </div>

    <div class="shop-by-category">
         <div class="top-cat-SBC">
             <div class="heading-SBC"><h3>Top Categories</h3></div>
             <div class="section-items-SBC" id='top-Categories'>
                <div style="background-image: url(&quot;https://img2.hkrtcdn.com/12977/bnr_1297621_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase;">LEAN MUSCLE MASS<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img10.hkrtcdn.com/13021/bnr_1302059_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase;">Immunity &amp; Well Being<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img6.hkrtcdn.com/12977/bnr_1297625_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase;">Bulk Gainer<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img2.hkrtcdn.com/13021/bnr_1302061_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase;">Stress &amp; Relaxation<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img4.hkrtcdn.com/13021/bnr_1302063_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase;">Weight Loss<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img2.hkrtcdn.com/12977/bnr_1297631_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase;">Muscle Recovery<div class="horLine"></div></h3></div>
             </div>
         </div>
         <div class="top-cat-SBC">
            <div class="heading-SBC"><h3>Essentials</h3></div>
            <div class="section-items-SBC" id='essentials'>
                <div style="background-image: url(&quot;https://img4.hkrtcdn.com/12977/bnr_1297603_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase; color: gray;">Whey Proteins<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img6.hkrtcdn.com/12977/bnr_1297605_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase; color: gray;">Gainers<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img10.hkrtcdn.com/12977/bnr_1297609_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase; color: gray;">Multivitamins<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img6.hkrtcdn.com/13021/bnr_1302065_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase; color: gray;">Omega 3<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img8.hkrtcdn.com/13021/bnr_1302067_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase; color: gray;">plant protein<div class="horLine"></div></h3></div><div style="background-image: url(&quot;https://img6.hkrtcdn.com/12977/bnr_1297615_o.jpg&quot;);"><h3 class="backHeadings" style="text-transform: uppercase; color: gray;">bcca<div class="horLine"></div></h3></div>
            </div>
        </div>
    </div>
    <div id="main">
    </div>
</body>
</html>
<script>
//     const xhr = new XMLHttpRequest();
// xhr.open('GET', 'http://localhost:2345/flashsale/men/products');
//  let products, proTren;
// xhr.onload = async () => {
//     var arr = await xhr.response;
//     products = JSON.parse(arr).flashsale_protiens
//     console.log(products)
//     proTren = JSON.parse(arr).trendingNow_protiens
// }
function addtoCart(product) {
    product = JSON.parse(product);
    console.log(product)
    span = document.getElementById(product._id)
    span.textContent = ""
    span.textContent = 'CART->'
    span.onclick =()=>{
        window.location.href = "http://localhost:2345/flashsale/cart"
    }
    if (localStorage.getItem("healthkart_cart") === null) {
        localStorage.setItem("healthkart_cart", JSON.stringify([]));
    }
    let array = JSON.parse(localStorage.getItem("healthkart_cart"));
    let present  = false;

      array.forEach((pro)=>{
        if(pro.name == product.name)
        {  
            pro["quantity"]++;
            present = true;
        }
     })
   if(present)
   {
    localStorage.setItem("healthkart_cart", JSON.stringify(array));
   }else{
      product["quantity"] = 1;
      array.push(product);
      localStorage.setItem("healthkart_cart", JSON.stringify(array));
   }
}


   var i =0;
    let slide = document.getElementById('slider')
     let btn1 = document.getElementById('btn1')
     let btn2 = document.getElementById('btn2')
     let btn3 = document.getElementById('btn3')
     let btn4 = document.getElementById('btn4')
     
     let interval =setInterval(translate, 3000)
     let arr = ["0px","-100%","-200%","-300%"]
     function translate(){
         if(i==4)
         {
             clearInterval(interval)
         }
        slide.style.transform = `translateX(${arr[i]})`
        i++;
     }
       btn1.onclick =() =>{
           slide.style.transform = 'translateX(0px)'
       }
       btn2.onclick =() =>{
           slide.style.transform = 'translateX(-100%)'
       }
       btn3.onclick =() =>{
           slide.style.transform = 'translateX(-200%)'
       }
       btn4.onclick =() =>{
           slide.style.transform = 'translateX(-300%)'
       }

          
function onMouseIn(hCons, myDIV){
    hCons.onmouseover = ()=> 
    {
        addDropDwn(myDIV)
    }
}
function onMouserOut(hCons, myDIV){
   hCons.onmouseleave = ()=> 
    {
        removeDropDwn(myDIV)
    }
}
function addDropDwn(x) {
      
    if (x.style.display === "none") {
      x.style.display = "grid";
      x.style.position ='absolute'
      x.style.zIndex = '1'
    }
  }
  function removeDropDwn(x){
      x.style.display = "none";
     }

 function addDropDwn1(mO,x ,array) {
        mO.onmouseover =()=> {
            array.forEach((ele)=>{
                 ele.style.display = "none"
          });
        if (x.style.display === "none") {
          x.style.display = "grid";
          x.style.position ='absolute';
          x.style.backgroundColor = 'white'
          x.style.zIndex = '1'
        }
       }
      }
      function getElement(id)
      {
          return document.getElementById(id);
      }
    
        function makeArr(array){
            let arr = []
            for(let i=0; i< array.length; i++)
            {
                arr.push(document.getElementById(array[i]))
            }
            return arr;
        }
        function makeNavbar(){
            let hCons = getElement('hk');
            let myDIV = getElement('myDIV');
            onMouseIn(hCons,myDIV)
            onMouserOut(hCons,myDIV)
        
          let bestSeller = getElement('bestSells');
          let catBestSell = getElement('catogBestSeller')
           onMouseIn(bestSeller,catBestSell)
           onMouserOut(bestSeller, catBestSell)
          let sNutri = getElement('sNutri')
          let hNutri = getElement('hNutri')
          let ar = makeArr(['forSport','forhealth'])
          addDropDwn1(sNutri,ar[0],ar)
          addDropDwn1(hNutri,ar[1],ar)
          
          let accounts = getElement('accounts')
          let dT = getElement('dropTable')
          onMouseIn(accounts,dT)
          onMouserOut(accounts,dT)

          let genderSec = document.getElementById('genderSec');
  genderSec.onmouseover = ()=>{
       let gendDroDwn = document.getElementById('gend-DroDwn')
       gendDroDwn.style.display = 'grid'
       gendDroDwn.style.zIndex = '1'
  }
  genderSec.onmouseleave = ()=>{
       let gendDroDwn = document.getElementById('gend-DroDwn')
       gendDroDwn.style.display = 'none'
  }
  let Crt = document.getElementById('cart');
  Crt.onclick = ()=>{
    window.location.href = 'cart'
  }
   
  let div_cat_Men = document.getElementById('div_cat_Men');
  let div_cat_Women = document.getElementById('div_cat_Women');
  div_cat_Men.onclick = ()=>{

    window.location.href = 'men'
  }
  div_cat_Women.onclick = ()=>{

    window.location.href = 'women'
  }

  let healthLogo = document.getElementById('logo');
  healthLogo.onclick= ()=>
{
  window.location.href = 'http://localhost:2345/flashsale'
}

const sign = document.getElementById('sI')
  sign.onclick = ()=>{
    window.location.href = 'http://localhost:2345/login'
  }
  const signUp = document.getElementById('lO')
  signUp.onclick = ()=>{
    window.location.href = 'http://localhost:2345/signup'
  }
  const catigg = document.getElementById('catagfirst');
  catigg.onclick= ()=>{
    window.location.href = 'http://localhost:2345/flashsale/category'
  }
  }
  makeNavbar();
  xhr.send();
  let cartLogo = document.getElementById('cart');

</script>
